body {
    padding-left: 50px;
}

button {
    background-color: white;
    border-radius: 5px;
    outline: none;
}

h1, h2, p {
    font-family: serif;
}

h2 {
    font-size: 36px;
    text-transform: capitalize;
}

p {
    font-size: 24px;
}